@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
/* Pink = rgb(218, 0, 55,1) */
.theme-light{
  --bg-color: #dfdfdf;
  --card-color: #fff;
  --title-color : #fff;
  --text-color: #202020;
  --button-color: #dfdfdf; 
}

.theme-dark{
  --bg-color: #171717;
  --card-color: #303030;
  --title-color:#252525;
  --text-color: white;
  --button-color: #404040;
}

.themeContainer{
  display:flex; 
  flex-direction:column;
  height:100vh;
  background-color: var(--bg-color);
}

body{
  background-color:var(--bg-color);
}

.settings-tab{
  
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg-color);
  width: 100%;
  align-items: center;
}

.settings-card{
  display: flex; 
  justify-content:space-evenly;
  background-color:var(--card-color);
  padding: 15px;
  border-radius: 10px;
}

.textfield{
  color: var(--text-color) !important;
}
.title-bar{
  background-color: var(--title-color) !important;
  color: var(--text-color) !important;
}

.edit-period-btn{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgb(218, 0, 55,1);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title{
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: x-large;
  text-align:center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-btn{
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: rgb(218, 0, 55,1);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sidebar-icons{
  font-size: x-large;
  justify-content:center;
  color:white !important;
}

.sidebar-text{
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
}

.button-style{
  background-color: var(--button-color) !important;
  color: var(--text-color) !important;
  flex-grow:1;
  margin:10px;
  font-size:large !important;
  font-family: 'PT Sans Narrow', sans-serif !important;

}

.add-dialog{
  text-align: center;
  color: white;
  background-color: #303030;
}
.day-container{
  display: flex;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
  flex-direction: row;
}
.next-buttons{
  background-color:var(--card-color) !important;
}

.next-buttons .icon{
  color:var(--text-color) !important;
}

.day-label{
  
  min-width: 250px;
  background-color: var(--card-color);
  color:var(--text-color);
  text-align: center;
  border-radius: 20px;
  padding: 5px 10px;
}

.now-container{
  background-color: var(--bg-color);
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}
.nowCard{
  border: 5px solid rgb(218, 0, 55,1);
  margin-top: 5px;
}

.dropdown{
  background: #303030;
  width: 50%;
  align-self: center;
  margin: 10px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: larger;
}
.now-tab{
  margin-top: 10px;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
}

.add-tab{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color);
  flex-wrap: wrap;
}

.underline{
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .card-1{
    width: 90%;
    margin: 10px 0px;
  }
  .card-period{
    width: 95%;
    margin: 7px 0px;
  }
  .add-card{
    width: 90%;
    margin: 10px 0px;
  }
  .now-tab{
    flex-direction: column;
  }
  .add-tab{
    flex-direction: column;
  }
  .day-container{
    justify-content: space-between;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  /* Desktop */
  .now-tab{
    flex-direction: row;
    justify-content: center;
  }
  .add-tab{
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
  }
  .card-1{
    margin: 10px;
    /* min-height: 300px; */
  }
  .card-period{
    margin: 10px;
    /* min-height: 300px; */
  }
  .add-card{
    margin: 10px 10px;
    flex-grow: 1;
  }
  .day-container{
    justify-content: center;
    margin: 10px;
  }
  .next-buttons-container{
    margin:10px;
  }
  
}

.title-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

/* .list{
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
} */

/* .list-item{
  border-bottom: 1px solid rgba(255,255,255,1) !important;
} */

.index-tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #171717;
}

.card-period{
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
  background-color: var(--card-color);
  padding: 10px 15px;
  height: auto;
  border-radius: 20px;
  color: var(--text-color);
  min-width: 250px;
}

.card-1{
  background-color: var(--card-color);
  text-transform: capitalize;
  color:var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
  padding: 10px 15px;
  height: auto;
  border-radius: 20px;
  min-width: 250px;
  min-height: 285px;
}

.card-1 .button{
  border-radius: 10px;
  width: 100%;
  background-color: var(--button-color);
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color: var(--text-color);
}

.card-1 .button-current{
  border-radius: 10px;
  width: 100%;
  background: rgb(218, 0, 55,0.8);
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color:#EDEDED
}

.card-1 .button-current:hover{
  background: rgb(218, 0, 55,1);
}

.card-1 .button:hover{
  background: #505050;
}

.add-card{
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  background-color: var(--card-color);
  padding: 10px;
  height: auto;
  border-radius: 20px;
  color: var(--text-color);
  min-width: 250px;
}

.add-card:hover{
  box-shadow: 0px 0px 20px gray;
}

.card-1:hover{
  box-shadow: 0px 0px 20px gray;
}

.card-period:hover{
  box-shadow: 0px 0px 20px gray;
}

.subject-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  background-color: transparent;
  /* padding: 10px 5px; */
  height: auto;
  border-radius: 20px;
  /* color: #EDEDED; */
  min-width: 250px;
}

.subject-card .button{
  margin: 0px 3px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--button-color);
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color:var(--text-color)
}

.subject-card .button:hover{
  background: #cfcfcf;
}

.class-title{
  text-align: center;
  font-size: xx-large;
  font-family: 'PT Sans Narrow', sans-serif;
}

.period-title{
  text-align: center;
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
}

.right{
  float:right;
}

.left{
  float:left;
}

td,th{
  border: none !important;
}

.weekly-table{
  min-width: 650;
  background-color: 'white';
  color:'black';
  width:'auto';
}
.App {
  text-align: center;
}

.line {
  position: absolute;
  border-left: 6px solid white;
  height: 100vh;
}

.bar{
  margin: 10px 5px 0px 5px;
}

.bar .ends{
  margin-top: .5rem;
}

.card{
  min-height:max-content;
  background: #262626;
  color: white;  
  padding: 5px 5px;
  border-radius: 10px;
}

.card:hover{
  background:#404040;
}

.card.now:hover{
  background-color: #00bcd4;
} 

.subject-name{
  display: block;
  font-size: large;
}

.today{
  background-color:#353535;
}

.now{
  background-color: #0096aa;
}

tr:hover{
  background-color: #303030;
}

