@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
/* Pink = rgb(218, 0, 55,1) */
body{
  background-color:black;
}

.title{
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: x-large;
  text-align:center;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-btn{
  position: absolute;
  right:0px;

}

.add-dialog{
  text-align: center;
  color: white;
  background-color: #303030;
}
.day-container{
  display: flex;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
  flex-direction: row;
}
.next-buttons{
  background-color:#303030 !important;
}

.day-label{
  min-width: 250px;
  background-color: #303030;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 5px 10px;
}

.now-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}
.nowCard{
  border: 5px solid rgb(218, 0, 55,1);
}

.dropdown{
  background: #303030;
  width: 50%;
  align-self: center;
  margin: 10px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: larger;
}
.now-tab{
  /* flex-grow: 1; */
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  background-color: #171717;
}

.add-tab{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #171717;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  /* Mobile */
  .card-1{
    width: 90%;
    margin: 10px 0px;
  }
  .add-card{
    width: 90%;
    margin: 10px 0px;
  }
  .now-tab{
    flex-direction: column;
  }
  .add-tab{
    flex-direction: column;
  }
  .day-container{
    justify-content: space-between;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  /* Desktop */
  .now-tab{
    flex-direction: row;
    justify-content: center;
  }
  .add-tab{
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
  }
  .card-1{
    margin: 0px 10px;
    min-height: 300px;
  }
  .add-card{
    margin: 10px 10px;
    flex-grow: 1;
  }
  .day-container{
    justify-content: center;
    margin: 10px;
  }
  .next-buttons-container{
    margin:10px;
  }
  
}

.title-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.list{
  background-color: #252525;
  color: #EDEDED;
  height: 100vh;
}
.index-tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #171717;
}

.card-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
  background-color: #303030;
  padding: 10px 15px;
  height: auto;
  border-radius: 20px;
  color: #EDEDED;
  min-width: 250px;
}

.card-1 .button{
  border-radius: 10px;
  width: 100%;
  background-color: #404040;
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color:#EDEDED
}

.card-1 .button-current{
  border-radius: 10px;
  width: 100%;
  background: rgb(218, 0, 55,0.8);
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color:#EDEDED
}

.card-1 .button-current:hover{
  background: rgb(218, 0, 55,1);
}

.card-1 .button:hover{
  background: #505050;
}

.add-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  background-color: #303030;
  padding: 10px;
  height: auto;
  border-radius: 20px;
  color: #EDEDED;
  min-width: 250px;
}

.add-card:hover{
  background-color: #454545;
}

.subject-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  background-color: transparent;
  /* padding: 10px 5px; */
  height: auto;
  border-radius: 20px;
  color: #EDEDED;
  min-width: 250px;
}

.subject-card .button{
  margin: 0px 3px;
  border-radius: 10px;
  width: 100%;
  background-color: #404040;
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1px;
  color:#EDEDED
}

.subject-card .button:hover{
  background: #505050;
}

.class-title{
  text-align: center;
  font-size: xx-large;
  font-family: 'PT Sans Narrow', sans-serif;
}

.right{
  float:right;
}

.left{
  float:left;
}

td,th{
  border: none !important;
}

.weekly-table{
  min-width: 650;
  background-color: 'white';
  color:'black';
  width:'auto';
}
.App {
  text-align: center;
}

.line {
  position: absolute;
  border-left: 6px solid white;
  height: 100vh;
}

.bar{
  margin: 10px 5px;
}

.card{
  min-height:max-content;
  background: #262626;
  color: white;  
  padding: 5px 5px;
  border-radius: 10px;
}

.card:hover{
  background:#404040;
}

.card.now:hover{
  background-color: #00bcd4;
} 

.subject-name{
  display: block;
  font-size: large;
}

.today{
  background-color:#353535;
}

.now{
  background-color: #0096aa;
}

tr:hover{
  background-color: #303030;
}
